.AppHeader {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: white;
  grid-area: header;
  padding-inline: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    block-size: 100%;
  }
  time{
    flex-grow: 1;
    text-align: end;
  }
}