/* src/components/Toaster.css */
.toaster {
  position: fixed;
  top: 3.2rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: .625rem;
  z-index: 999999;
  align-items: flex-end;

  .toast {
    backdrop-filter: blur(.1rem);
    background-color: var(--color-white-transparent-low);
    padding-inline: 1rem;
    padding-block: 0rem;
    border-radius: .25rem;
    max-inline-size: 20rem;
    inline-size: fit-content;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    transition: transform 0.4s ease, opacity 0.4s ease;

    .close {
      flex-shrink: 0;
      background-color: transparent;
      border: none;
      border-inline-start: 1px var(--color-grey--100) solid;
      align-self: stretch;
      padding-inline-start: 1rem;
    }

    i {
      font-style: normal;

      svg {
        block-size: 1.5rem;
      }
    }

    &.toast-enter {
      opacity: 1;
      transform: translateY(0);
    }

    &.toast-exit {
      opacity: 0;
      transform: translateY(-1rem);
    }

    &.success {
      border-left: 5px solid var(--color-success);
    }

    &.error {
      border-left: 5px solid var(--color-red);
    }

    &.info {
      border-left: 5px solid var(--color-secondary);
    }

    &.loading {
      border-left: 5px solid var(--color-primary);
    }
  }


}