/* src/components/Toaster.css */
.toaster {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: .625rem;
  z-index: 999999;

  .toast {
    backdrop-filter: blur(.1rem);
    background-color: var(--color-white-transparent-low);
    padding-inline: 1rem;
    padding-block: .25rem;
    border-radius: .25rem;
    max-inline-size: 18rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.success {
      border-left: 5px solid var(--color-primary);
    }
    
    &.error {
      border-left: 5px solid var(--color-red);
    }
    
    &.info {
      border-left: 5px solid var(--color-secondary);
    }
  }
  
  
}


