@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

.cassetteTape {
  inline-size: 400px;
  block-size: 255.8px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(25, 21, 33, 0.2) 0 4px 5px, rgba(25, 21, 33, .3) 0 7px 9px -3px;
  margin-inline: 0;
  margin-block: 0;

  &.playing .reel {
    animation-play-state: running;
  }

  .reel {
    inline-size: 160px;
    padding-inline: 0;
    padding-block: 0;
    margin-inline: 0;
    margin-block: 0;
    block-size: 160px;
    position: absolute;
    top: 28px;
    background-image: url('images/reel.png');
    background-repeat: no-repeat;
    background-position: center;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;

    &.left {
      left: 35px;
    }

    &.right {
      right: 36px;
    }
  }

  .tapeCoverImage {
    top: -2px;
    left: -2px;
    position: absolute;
    inline-size: 101%;
    block-size: 101%;
    transition: all 0.3s ease-in-out;
    opacity: 0.9;

    &:hover {
      opacity: 0.7;
    }
  }

  .cassetteTapeLabel {
    position: absolute;
    bottom: 0;
    left: 60px;
    border-radius: 10px 10px 0 0;
    border-bottom: 56px solid rgb(207, 203, 198);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    block-size: 0px;
    inline-size: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before,
    &::after {
      display: flex;
      position: absolute;
      content: '';
      inline-size: 45px;
      block-size: 45px;
      border-radius: 50%;
      box-shadow: inset 0 0 5px #00000056;
    }

    &::before {
      transform: translate(-160px);
    }

    &::after {
      transform: translate(160px);
    }

    p {
      font-size: 0.75rem;
      letter-spacing: 0.05rem;
      color: rgb(139, 139, 139);
      display: flex;
      margin-block-end: 0.25rem;
      flex-direction: column;
      align-items: center;

      &::before,
      &::after {
        content: '';
        inline-size: 0.8rem;
        block-size: 0.8rem;
        border-radius: 50%;
        position: absolute;
        box-shadow: inset 0 0 5px #00000056;
        background-color: rgb(92, 92, 92);
      }

      &::before {
        transform: translate(-105px, 16px);
      }

      &::after {
        transform: translate(105px, 16px);
      }
    }

    button {
      color: rgb(139, 139, 139);
      border: none;
      margin-inline: auto;
      margin-block: 2px;
      padding-inline: 4px;
      padding-block: 1px;
      letter-spacing: .125rem;
      font-size: .75rem;
      background-color: transparent;
      border-radius: .5rem;
      cursor: pointer;
      display: flex;
      justify-content: center;

      &::before,
      &::after {
        content: '';
        inline-size: 14px;
        block-size: 14px;
        border-radius: 5px;
        position: absolute;
        box-shadow: inset 0 0 5px #00000056;
        background-color: rgb(121, 121, 121);
        top: 15px;
      }

      &::before {
        transform: translate(-70px, 0px);
      }

      &::after {
        transform: translate(70px, 0px);
      }

    }

  }

  .tapeShell {
    backdrop-filter: blur(.1rem);

    path {
      &:first-child {

        fill: var(--color-white-transparent-high);
      }

      &:last-child {
        fill: var(--color-dark--2);
      }
    }
  }

  .tapeCenterShell {
    position: absolute;
    bottom: 0;
    left: 0;
    filter: drop-shadow(0px 0px 3px #0000001e);

    path {
      fill: rgb(207, 203, 198);
    }
  }
}