.AppBody{
  background-image: url(background-texture.png);
  background-color: white;
  grid-area: body;

  .AppIconsLayout{
    display: grid;
    justify-items: end;
    padding-inline: 1rem;
    padding-block: 1rem;
    gap: 1.6rem 2rem;


    button{
      border: none;
      background-color: transparent;
      inline-size: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: .8rem;
      font-weight: 500;
      color: var(--color-dark--1);
      img{
        inline-size: 90%;
      }
    }
  }
}