.SignInLayout {
  position: relative;
  display: grid;
  border-radius: .625rem;
  grid-template-areas: "title image"
    "subtitle image"
    "form image"
    "aside image";
  align-items: center;
  padding-inline: 1rem;
  padding-block: 1rem;
  grid-template-columns: 200px 280px;
  grid-template-rows: 100px 30px 130px 40px;
  gap: 1rem;
  backdrop-filter: blur(.25rem);
  border: 1px var(--color-grey--100) solid;
  background-color: var(--color-white--100-transparent-low);
  box-shadow: rgba(25, 21, 33, 0.05) 2px 4px 15px, rgba(25, 21, 33, .2) 0px 5px 9px -3px;
  color: var(--color-primary);

  .title {
    grid-area: title;
    margin-block: 0;
    color: var(--color-primary);
    font-size: 1.6rem;
    /* margin-block: auto 0; */
  }


  p.welcomeMessage {
    margin-block: 0rem;
    font-size: .9rem;
    line-height: 1.25rem;
  }

  .subtitle {
    grid-area: subtitle;
    margin-block: 0;
    color: var(--color-primary);
    font-size: 1.2rem;
  }

  .form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: .5rem;

    input {
      block-size: 2rem;
      border-radius: .25rem;
      border: 1px white solid;
      padding-inline: .5rem;
      background-color: white;

      &:focus {
        outline-color: var(--color-primary);
      }

      &.error {
        outline: auto;
        outline-color: var(--color-red);
      }
    }

    button {
      border-radius: .25rem;
      padding-inline: .5rem;
      padding-block: .25rem;
      block-size: 2rem;
      margin-block: 0;
      margin-inline: 0;
      background-color: var(--color-primary);
      border: 1px solid var(--color-primary);
      color: white;
    }

    .errorMessage {
      color: var(--color-red);
      font-size: .8rem;
      font-weight: 600;
      margin-block: 0;
    }
  }

  .aside {
    grid-area: aside;
    font-size: .8rem;
    color: var(--color-dark--4);

    p {
      margin-block: 0;

      button {
        border: none;
        font-weight: 600;
        color: var(--color-primary);
      }
    }

  }

  .image {
    grid-area: image;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }
}