.window{
  position: relative;
  &.resize::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    cursor: nwse-resize;
  }
  .actions{
    position: absolute;
    top: 0;
    display: flex;
    z-index: 100;
    gap: .6rem;
    padding-block: 0.4rem;
    padding-inline: 0.5rem;
    button{
      border: none;
      inline-size: .8rem;
      block-size: .8rem;
      border-radius: 2rem;
      font-size: .6rem;
      line-height: .8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-white-transparent-low);
      &.cross{
        background-color: var(--color-red);
        color: rgb(81, 31, 27);
      }
      &.minus{
        background-color: rgb(245, 191, 79);
        color: rgb(76, 52, 4);
      }
    }

  }
  .dragArea{
    background-color: transparent;
    border-radius: .625rem .625rem 0 0;
    position: absolute;
    inline-size: 100%;
    block-size: 40px;
    top: 0;
    left: 0;
  }
}