@layer reset {
  * {
    box-sizing: border-box;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
  }

  body {
    margin-inline: 0;
    margin-block: 0;
  }

  ul {
    margin-inline: 0;
    margin-block: 0;
    padding-inline: 0;
    padding-block: 0;
  }

  li {
    list-style: none;
  }

  a,
  a:visited,
  a:hover {
    text-decoration: none;
  }

  menu {
    margin-inline: 0;
    margin-block: 0;
    padding-inline: 0;
    padding-block: 0;
  }

  fieldset {
    margin-inline: 0;
    margin-block: 0;
    padding-inline: 0;
    padding-block: 0;
    border: none;
  }

  button {
    padding-inline: 0;
    padding-block: 0;
    cursor: pointer;
  }
}

:root {
  --color-primary: #222525;
  --color-primary-transparent-low: #222525d9;
  --color-primary-transparent-high: #22252526;

  --color-white-transparent-high: rgba(255, 255, 255, 0.15);
  --color-white-transparent-low: rgba(255, 255, 255, 0.85);

  --color-secondary: #fed996;
  --color-tertiary: #1b6595;
  --color-red: rgb(237, 106, 94);
  --color-success: #3f8752;

  --color-dark--1: #3d3d3c;
  --color-dark--2: #4f4d4c;
  --color-dark--3: #646260;
  --color-dark--4: #787572;
  --color-white--100: #eeedeb;
  --color-white--100-transparent-low: hsla(40, 8%, 93%, 0.85);
  --color-grey--100: #d3d1ce;
  --color-grey-transparent-medium: hsla(36, 5%, 82%, 0.5);
  --color-grey--200: #bfbdb9;

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.04);
  --shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.12);
}

#root {
  display: grid;
  grid-template-areas: "header"
    "body";
  grid-template-rows: 40px calc(100dvh - 40px);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

kbd {
  background-color: #eee;
  border-radius: 0.25rem;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding-inline: 0.25rem;
  padding-block: 0.25rem;
  margin-inline: 0.2rem;
  white-space: nowrap;
}